<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
	<listeners>
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>
	<test name="Tests">
		<classes>

			<class name="org.automation.CheckOutTestCase" />
			<class name="org.automation.CartDetailsTestCase" />
			<class name="org.automation.OrderPageTestCase" />
			<class name="org.automation.DropDownTestCase" />
			<class name="org.automation.CategoryDropDownTestCase" />
			<!-- add more test classes here -->
		</classes>
	</test>
</suite>